* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-color: #0ed !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.sidebar {
  background-color: #444;
  color:white;
  width:300px;
  position:absolute;
  height:calc(100vh - 54px);
  padding:1rem;
  left:0;
  top:54px;
  bottom:0;
  transition:width 0.5s ease-in-out;

}

.home {

  background-color: #0ed !important;
  margin-left:300px;
  transition:margin 0.5s ease-in-out;
}